<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booksapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.BooksApp">
        <activity android:name=".Activities.ActivityBook"/>
        <activity android:name=".Activities.SearchBookActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                android:value="com.example.booksapp.Activities.SearchBookActivity" />
        </activity>
        <receiver android:name=".Notifications.NotificationReceiver"/>
        <provider android:name=".ContentProviders.MySuggestionProvider"
            android:authorities="com.example.booksapp.ContentProvider.MySuggestionProvider" />
        <service android:name=".Notifications.TimerService"/>
    </application>

</manifest>